layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane size="15%" {
                plugin location="zellij:strider"
            }
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="󰟐 Main" focus=true {
        pane split_direction="vertical" {
            pane name="eww.yuck" edit="~/.config/eww/eww.yuck"
            pane split_direction="horizontal" {
                pane name="eww.scss" edit="~/.config/eww/eww.scss"
                pane name="Logging" size="40%" command="eww" {
                    args "logs"
                }
            }
        }
    }
    tab name="󱂫 Dock" {
        pane split_direction="vertical" {
            pane name="widgets/dock.yuck" edit="~/.config/eww/widgets/dock.yuck"
            pane name="scripts/dock_manager" edit="~/.config/eww/scripts/dock_manager"
        }
    }
    tab name="󱂬 Workbar" {
        pane split_direction="vertical" {
            pane name="widgets/workbar.yuck" edit="~/.config/eww/widgets/workbar.yuck"
            pane name="scripts/workspaces_manager" edit="~/.config/eww/scripts/workspaces_manager"
        }
    }
    tab name="󰓅 Mainbar" {
        pane split_direction="vertical" {
            pane name="widgets/mainbar.yuck" edit="~/.config/eww/widgets/mainbar.yuck"
            pane name="scripts/window_manager" edit="~/.config/eww/scripts/window_manager"
        }
    }
    tab name=" Taskbar" {
        pane split_direction="vertical" {
            pane name="widgets/taskbar.yuck" edit="~/.config/eww/widgets/taskbar.yuck"
            pane name="scripts/taskbar_manager" edit="~/.config/eww/scripts/taskbar_manager"
        }
    }
    tab name="󰹯 Taskmenu" {
        pane split_direction="vertical" {
            pane name="widgets/taskmenu.yuck" edit="~/.config/eww/widgets/taskmenu.yuck"
            pane name="scripts/taskmenu_manager" edit="~/.config/eww/scripts/taskmenu_manager"
        }
    }    
    tab name="󰮳 Taskpages" {
        pane split_direction="vertical" {
            pane name="widgets/tm_"
            pane name="widgets/tm_"
        }
    }
    tab name=" Style" {
        pane split_direction="vertical" {
            pane name="style/main.scss" edit="~/.config/eww/style/main.scss"
            pane name="style/symbols.json" edit="~/.config/eww/style/symbols.json"
        }
    }
    tab name="  Repository" {
        pane split_direction="vertical" {
            pane name="Diff"
            pane name="Status"
        }
    } 
}

