layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane size="15%" {
                plugin location="zellij:strider"
            }
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="󰟐 Main" focus=true {
        pane split_direction="vertical" {
            pane name="Yuck" edit="~/.config/eww/eww.yuck"
            pane split_direction="horizontal" {
                pane name="Scss" edit="~/.config/eww/eww.scss"
                pane name="Terminal" size="30%"
                pane name="Logging" size="30%" command="eww" {
                    args "logs"
                }
            }
        }
    }
    tab name="󰜬 Templates" {
        pane split_direction="vertical" {
            pane name="Templates"
            pane name="Templates"
        }
    }
    tab name="󱂬 Widgets" {
        pane split_direction="vertical" {
            pane name="Widgets"
            pane name="Widgets"
        }
    }
    tab name=" Scripts" {
        pane split_direction="vertical" {
            pane name="Scripts"
            pane name="Scripts"
        }
    }
    tab name="󱃼 Polling/Listening" {
        pane split_direction="vertical" {
            pane name="Listening (variables)" edit="~/.config/eww/variables/listening.yuck"
            pane name="Polling (variables)" edit="~/.config/eww/variables/polling.yuck"
        }
    }
    tab name="󱃼 Basic/Symbols" {
        pane split_direction="vertical" {
            pane name="Symbols (variables)" edit="~/.config/eww/variables/symbols.yuck"
            pane name="Basic (variables)" edit="~/.config/eww/variables/basic.yuck"
        }
    }    
    tab name=" Style" {
        pane split_direction="vertical" {
            pane name="Global" edit="~/.config/eww/style/global.scss"
            pane name="Theme" edit="~/.config/eww/style/theme.scss"
        }
    }
    tab name="  Hyprwwland" {
        pane split_direction="vertical" {
            pane name="Diff"
            pane split_direction="horizontal" {
                pane name="Repo"
                pane name="Terminal" size="30%"
            }
        }
    } 
}

