[Unit]
Description=Himalaya watcher
After=network.target

[Service]
ExecStart=himalaya watch
Environment=RUST_LOG=debug
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
